.pagination{
    display: flex;
    gap: 10px;
    margin: 30px auto;
    align-items: center;
    justify-content: right;
}
.pagination-li{
    margin: 10px 0px;
    color: white;
}
.pagination-tag-anchor{
    background-color: #777;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    margin: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
